@using SmartLog.UI
@using SmartLog.UI.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SmartLog - Dashboard";
}

<div class="text-center">
    <h1 class="display-4">SmartLog</h1>
</div>
